<script defer src="/javascripts/books.js"></script>

<h2 class="search-button" onclick="toggleSearchForm()" class="page-header">Search Books ↔ </h2>
<!-- <input type="search" class="search-button" onclick="toggleSearchForm()">Search</input> -->
<div class="search-container" > 
<form action="/books" method="GET" id="searchForm" class="search-form">
  <div class="form-row">
    <div class="form-item">
      <label>Title</label>
      <input type="text" name="title" value="<%= searchOptions.title %>" />
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label>Publish After</label>
      <input
        type="number"
        name="publishedAfter"
        value="<%= searchOptions.publishedAfter %>"
      />
    </div>

    <div class="form-item">
      <label>Publish Before</label>
      <input
        type="number"
        name="publishedBefore"
        value="<%= searchOptions.publishedBefore %>"
      />
    </div>
  </div>

  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>

</div>


<% books.forEach(book => { %>
  
<a href="/books/<%= book.id %>">
  <img class="book-cover-large"src="<%= book.coverImagePath %>"
/></a>

<% }) %>

